body {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-size: 3em;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
    justify-content: center;
}

.boggle-button {
    background-color: #fae7cb;
    border-radius: 1em;
}

.boggle-button:after {
    transition: 3s;
}

.main-part {
    display: flex;
    flex-direction: column;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 2em;
    font-size: 2em;
}

.found-word {
    padding-bottom: 0.25em;
}

#submit {
    margin: 10px;
    font-size: 1.5em;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
}

#total {
    pointer-events: none; 
    border: none;
    font-size: 2em;
    text-align: center;
    margin: 1em;

}