body {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-size: 3em;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
    justify-content: center;
}

.boggle-button {
    background-color: #fae7cb;
    border-radius: 1em;
}

.boggle-button:after {
    transition: 3s;
}

.main-part {
    display: flex;
    flex-direction: column;
}

.sidebar {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-right: 1em;
    font-size: 2em;
}

.found-word {
    padding-bottom: 0.25em;
}

#submit {
    margin: 10px;
    font-size: 1.5em;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
}

#total {
    pointer-events: none; 
    border: none;
    font-size: 2em;
    text-align: center;
    margin: 0.5em;
    background: transparent;
}

#timer {
    font-size: 2em;
    align-self: right;
    margin-left: .5em;
    margin-top: .5em;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms
}

.popup {
  background: #fff;
  border-radius: 5px;
  position: relative;
  text-align: center;
  color: black;
}

@media only screen and (max-width: 600px) { 
  .popup {
    width: 96%;
    margin: 35% 2%;
    padding: 90px 0;
  }
}

@media only screen and (min-width: 600px) { 
  .popup {
    width: 550px;
    margin: 160px auto;
    padding: 95px 50px;
  }
}

.play-button {
  border: 2px solid #3B3B3B;
  margin: 1rem;
  background: none;
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.play-button:hover {
  background-color: #3B3B3B;
  color: white;
}

.title {
    font-size: 2em;
    margin: 0.5em;
    font-weight: bold;
}

.subtitle {
    font-weight: 400;
    font-size: 1.4em;
    margin: 0.5em;
}