<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Boggle</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    
    </head>
    <body>
        <div class="game">
            <div class="main-part">
            <input id="total"></input>
            <div class="buttons-container" >
                {% for i in range(4) %}
                {% for j in range(4) %}
                <button id="button{{i}}{{j}}" class="boggle-button">{{boggle_layout[i][j]}}</button>
                {% endfor %}
                {% endfor %}
            </div>
            <button id="submit">Submit</button>
            </div>
            <div class="sidebar">
                <h3>Found Words:</h3>
                <div class="wordlist">
                    {% for word in found_words %}
                    <div class="found-word">{{word}}</div>
                    {% endfor %}
                </div>
                <h3>Total: {{score}}</h3>
            </div>
        </div>
    </body>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</html>