<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Boggle</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    
    </head>
    <body>
        <div class='overlay' id="overlay">
        <div class='popup' id="popup">
          <h2 class='title' id="title">Boggle</h2>
          <h3 class="subtitle" id="subtitle" display="none"></h3>
          <input id='play-button' class='play-button normal-buttons' type='button' value='Play'/>
        </div>
      </div>
        <div id="timer"></div>
        <div class="game">
            <div class="main-part">
            <input id="total"></input>
            <div class="buttons-container" >
                {% for i in range(4) %}
                {% for j in range(4) %}
                <button id="button{{i}}{{j}}" class="boggle-button">{{boggle_layout[i][j]}}</button>
                {% endfor %}
                {% endfor %}
            </div>
            <div class="action-buttons" >
                <button id="rotate" class="normal-buttons">Rotate</button>
                <button id="reset" class="normal-buttons">Reset</button>
                <button id="submit" class="normal-buttons">Submit</button>
            </div>
            </div>
            <div class="sidebar">
                <h3>Found Words:</h3>
                <div class="wordlist" id="wordlist"></div>
                <h3 id="score">Score: {{score}}</h3>
            </div>
        </div>
    </body>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</html>